.card 
        .card-block
            h4.title= bookdata.title
            p.author= bookdata.author
            p.genre= bookdata.genre 
            p.rating= bookdata.rating
            p.status= bookdata.status
            