include layout
head
    link(rel='stylesheet', href='/stylesheets/booksStyle.css')
    
each book in books
    content
        .card
            .card-block
                h4
                    a(href="/books/" +book._id)= book.title
                p.author= book.author
                p.genre= book.genre
                p.rating= book.rating
                p.status= book.status